@model Integrador.Models.DetallePedido

@{
    ViewData["Title"] = "Añadir producto";
}

<h2>@ViewData["Title"] a un pedido</h2>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PedidoId" class="control-label"></label>
                <select asp-for="PedidoId" class="form-control" asp-items="ViewBag.PedidoId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ProductoId" class="control-label"></label>
                <select asp-for="ProductoId" class="form-control" asp-items="ViewBag.ProductoId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Cantidad" class="control-label"></label>
                <input asp-for="Cantidad" class="form-control" />
                <span asp-validation-for="Cantidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrecioUnidad" hidden class="control-label"></label>
                <input asp-for="PrecioUnidad" hidden class="form-control" />
                <span asp-validation-for="PrecioUnidad" hidden class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrecioUnidadCadena" class="control-label"></label>
                <input asp-for="PrecioUnidadCadena" class="form-control" />
                <span asp-validation-for="PrecioUnidadCadena" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <a asp-action="Index">Volver a la lista</a> |
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
