@model Integrador.Models.Suministro

@{
    ViewData["Title"] = "Editar suministro";
}

<h2>Editar suministro</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div>
                <label class="d-flex align-items-center">
                    <span class="text-nowrap">
                        Id del suministro:
                    </span>
                    <input asp-for="Id" class="form-control-plaintext ms-3" disabled readonly />
                </label>
            </div>
            <div>
                <label class="d-flex align-items-center">
                    <span class="text-nowrap">
                        Fecha del suministro:
                    </span>
                    <input asp-for="FechaSuministro" class="form-control-plaintext text-center" readonly />
                </label>
            </div>
            @if (User.IsInRole("Administrador"))
            {
                <div class="form-group hidden" hidden>
                    <label asp-for="ProveedorId" class="control-label"></label>
                    <select asp-for="ProveedorId" class="form-control" asp-items="ViewBag.ProveedorId" hidden></select>
                    <span asp-validation-for="ProveedorId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <span class="control-label">Proveedor</span>
                    <select class="form-control" asp-items="ViewBag.ProveedorId" disabled></select>
                </div>
            }
            <div class="form-group">
                <label asp-for="Producto.Modelo" class="control-label"></label>
                <input asp-for="Producto.Modelo.Nombre" class="form-control" disabled />
                @* <select id="modeloSelect" asp-for="Producto.Modelo" name="IntModelo" class="form-control" asp-items="ViewBag.Modelos">
                <option value="">Todas</option>
                </select> *@
                <span asp-validation-for="Producto.Modelo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductoId" class="control-label"></label>
                <select asp-for="ProductoId" class="form-control" asp-items="ViewBag.ProductoId" hidden></select>
                <select asp-for="ProductoId" class="form-control" asp-items="ViewBag.ProductoId" disabled></select>
                <span asp-validation-for="ProductoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Unidades" class="control-label"></label>
                <input asp-for="Unidades" class="form-control" min="1" />
                <span asp-validation-for="Unidades" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <a asp-action="Index">Volver a la lista</a> |
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
