@model Integrador.Models.Pedido


@if (User.IsInRole("Administrador"))
{
    ViewData["Title"] = "Editar pedido";
}
else if (Model.Comentarios == null)
{
    ViewData["Title"] = "Añadir comentarios";
}
else
{
    ViewData["Title"] = "Editar comentarios";
}
<h2>@ViewData["Title"]</h2>
<hr />

<div class="row">
    <div class="col-md-6 col-lg-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @if (User.IsInRole("Administrador"))
            {
                <div class="form-group">
                    <label asp-for="Id" class="control-label"></label>
                    <input asp-for="Id" class="form-control" disabled />
                    <span asp-validation-for="Id" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FechaPedido" class="control-label"></label>
                    <input asp-for="FechaPedido" class="form-control" />
                    <span asp-validation-for="FechaPedido" class="text-danger"></span>
                </div>
                <div class="form-group hidden" hidden>
                    <label asp-for="ClienteId" class="control-label"></label>
                    <select asp-for="ClienteId" class="form-control" asp-items="ViewBag.ClienteId" hidden></select>
                    <span asp-validation-for="ClienteId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <span class="control-label">Cliente</span>
                    <select class="form-control" asp-items="ViewBag.ClienteId" disabled></select>
                </div>
                <div class="form-group">
                    <label asp-for="EstadoId" class="control-label"></label>
                    <select asp-for="EstadoId" class="form-control" asp-items="ViewBag.EstadoId"></select>
                    <span asp-validation-for="EstadoId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Comentarios" class="control-label"></label>
                    <input asp-for="Comentarios" class="form-control" />
                    <span asp-validation-for="Comentarios" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FechaEsperada" class="control-label"></label>
                    <input asp-for="FechaEsperada" class="form-control" />
                    <span asp-validation-for="FechaEsperada" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FechaConfirmacion" class="control-label"></label>
                    <input asp-for="FechaConfirmacion" class="form-control" />
                    <span asp-validation-for="FechaConfirmacion" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FechaEnvio" class="control-label"></label>
                    <input asp-for="FechaEnvio" class="form-control" />
                    <span asp-validation-for="FechaEnvio" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FechaEntrega" class="control-label"></label>
                    <input asp-for="FechaEntrega" class="form-control" />
                    <span asp-validation-for="FechaEntrega" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FechaAnulado" class="control-label"></label>
                    <input asp-for="FechaAnulado" class="form-control" />
                    <span asp-validation-for="FechaAnulado" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="FechaDevolucion" class="control-label"></label>
                    <input asp-for="FechaDevolucion" class="form-control" />
                    <span asp-validation-for="FechaDevolucion" class="text-danger"></span>
                </div>
            }
            else
            {
                <div class="form-group hidden" hidden>
                    <label asp-for="Id" class="control-label"></label>
                    <input asp-for="Id" class="form-control" hidden disabled />
                    <span asp-validation-for="Id" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FechaPedido" class="control-label"></label>
                    <input asp-for="FechaPedido" class="form-control" readonly />
                    <span asp-validation-for="FechaPedido" class="text-danger"></span>
                </div>
                <div class="form-group hidden" hidden>
                    <label asp-for="ClienteId" class="control-label"></label>
                    <select asp-for="ClienteId" class="form-control" asp-items="ViewBag.ClienteId" hidden></select>
                    <span asp-validation-for="ClienteId" class="text-danger"></span>
                </div>
                <div class="form-group hidden" hidden>
                    <label asp-for="EstadoId" class="control-label"></label>
                    <select asp-for="EstadoId" class="form-control" asp-items="ViewBag.EstadoId" hidden></select>
                    <span asp-validation-for="EstadoId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="EstadoId" class="control-label"></label>
                    <select asp-for="EstadoId" class="form-control" asp-items="ViewBag.EstadoId" disabled></select>
                </div>
                <div class="form-group">
                    <label asp-for="Comentarios" class="control-label"></label>
                    <input asp-for="Comentarios" class="form-control" />
                    <span asp-validation-for="Comentarios" class="text-danger"></span>
                </div>
                <div class="form-group hidden" hidden>
                    <label asp-for="FechaEsperada" class="control-label"></label>
                    <input asp-for="FechaEsperada" class="form-control" hidden />
                    <span asp-validation-for="FechaEsperada" class="text-danger"></span>
                </div>
                <div class="form-group hidden" hidden>
                    <label asp-for="FechaConfirmacion" class="control-label"></label>
                    <input asp-for="FechaConfirmacion" class="form-control" hidden />
                    <span asp-validation-for="FechaConfirmacion" class="text-danger"></span>
                </div>
                <div class="form-group hidden" hidden>
                    <label asp-for="FechaEnvio" class="control-label"></label>
                    <input asp-for="FechaEnvio" class="form-control" hidden />
                    <span asp-validation-for="FechaEnvio" class="text-danger"></span>
                </div>
                <div class="form-group hidden" hidden>
                    <label asp-for="FechaEntrega" class="control-label"></label>
                    <input asp-for="FechaEntrega" class="form-control" hidden />
                    <span asp-validation-for="FechaEntrega" class="text-danger"></span>
                </div>
                <div class="form-group hidden" hidden>
                    <label asp-for="FechaAnulado" class="control-label"></label>
                    <input asp-for="FechaAnulado" class="form-control" hidden />
                    <span asp-validation-for="FechaAnulado" class="text-danger"></span>
                </div>
                <div class="form-group hidden" hidden>
                    <label asp-for="FechaDevolucion" class="control-label"></label>
                    <input asp-for="FechaDevolucion" class="form-control" hidden />
                    <span asp-validation-for="FechaDevolucion" class="text-danger"></span>
                </div>
            }
            <div class="form-group my-3">
                @if (User.IsInRole("Administrador"))
                {
                    <a asp-action="Index">Volver a la lista</a>
                }
                else
                {
                    <a asp-action="Details" asp-route-id="@Model?.Id">Volver al pedido</a>
                }
                | <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
