@model IEnumerable<Integrador.Models.ViewUsuarios>

@{
    ViewData["Title"] = "Usuarios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Usuarios</h1>

<p>
    <a asp-action="Create">Nuevo administrador</a>
</p>

<div style="max-height:68vh; overflow: auto;">
    <table class="table mb-0">
        <thead style="position: sticky; top: 0;">
            <tr>
                <th>
                    Usuario
                </th>
                <th>
                    Rol
                </th>
                <th>
                    Acciones
                </th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelIdtem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelIdtem => item.RolDeUsuario)
                </td>
                <td>
                    @* Borrar usuario*@
                    <form asp-action="Delete" asp-controller="Usuarios" method="post">
                        <input type="hidden" name="userId" value="@item.Email" />
                        @if (item.RolDeUsuario == "Administrador")
                        {
                            <input type="submit" value="Borrar" title="Se borrará esta cuenta de Administrador" class="btn btn-danger" />
                        }
                        else
                        {
                            <input type="submit" value="Eliminar" title="Se irá a la página de borrar" class="btn btn-warning" />
                        }
                    </form>
                </td>
            </tr>
        }
    </table>
</div>
