@model Integrador.Models.Descuento

@{
    ViewData["Title"] = "Editar descuento";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Editar descuento</h2>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Codigo" class="control-label"></label>
                <input type="hidden" asp-for="Codigo" class="form-control" hidden />
                <input class="form-control" value="@Model.Codigo" disabled />
                <span asp-validation-for="Codigo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Porcentaje" class="control-label"></label>
                <input asp-for="Porcentaje" class="form-control" />
                <span asp-validation-for="Porcentaje" class="text-danger"></span>
            </div>
            <div class="my-3 d-flex flex-column gap-2">
                <span>¿Está activado?</span>
                <div class="form-check form-switch">
                    <label>
                        <input class="form-check-input" role="switch" asp-for="Activo" /> @Html.DisplayNameFor(model => model.Activo)
                    </label>
                </div>
            </div>
            <div class="form-group mt-3">
                <a asp-action="Index">Volver a la lista</a> <span>|</span>
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
