@using Integrador.Views.MisDatos

<ul class="nav nav-pills flex-column">
    @if (User.IsInRole("Cliente") || User.IsInRole("Proveedor"))
    {
        <li class="nav-item">
            <a class="nav-link @ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-action="Index" asp-controller="MisDatos">
                Perfil
            </a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link @ManageNavPages.IndexNavClass(ViewContext)" id="profile">
                Administrador
            </a>
        </li>
    }
    <li class="nav-item">
        <a class="nav-link @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" asp-action="ChangePassword" asp-controller="MisDatos">
            Cambiar Contraseña
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link @ManageNavPages.PersonalDataNavClass(ViewContext)" id="personal-data" asp-action="DeletePersonalData" asp-controller="MisDatos">
            Borrar cuenta
        </a>
    </li>
    
</ul>
